<h1>Game Lookup</h1>
<form> 
	<input type="text" name="Summoner Name" value="Summoner Name">
	<select name="region">
		<option value="NA">NA</option>
		<option value="EUW">EUW</option>
		<option value="EUNE">EUNE</option>
		<option value="RU">RU</option>
		<option value="TR">TR</option>
		<option value="BR">BR</option>
		<option value="LAN">LAN</option>
		<option value="LAS">LAS</option>
		<option value="KR">KR</option>
		<option value="OCE">OCE</option>
	</select>
	<input type="submit" value="Submit">
</form>
<div class='row'>
	<div class='match' ng-show='game'>
		<div class='list-group players'
			<h1>game.queueType</h1>
			<li class='summoner' ng-repeat='p in game.participants'>
				<div class='col-xs-2'>
					<img ng-src={{p.championImage}}>
				</div>
				<div class='champion'>
					{{p.championName}}
				</div>
				<div class=
			</li>
		</div>
	</div>
</div>
