<div class='row'>
  <div class='col-md-8 col-md-offset-2'>
    <div class='list-group nerfem' ng-show='champions'>
      <h1>Who needs to be nerfed the most?</h1>
      <li class='list-group-item' ng-repeat='c in champions | orderBy: order_item:order_reverse'>
        <div class='row'>
          <div class='col-xs-2'>
            <img ng-src='http://ddragon.leagueoflegends.com/cdn/6.5.1/img/champion/{{c.image.full}}'>
          </div>
          <div class='col-xs-3'>
            <div class='champName'>
              {{c.name}}
            </div>
          </div>
          <div class='col-xs-2'>
            <div class='upPercent'>
              {{c.upPercent}}%
            </div>
          </div>
          <div class='col-xs-2'>
            <div class='downPercent'>
              {{c.downPercent}}%
            </div>
          </div>
          <div class='col-xs-3'>
            <div class='arrows'>
              <i ng-click='upVote(c.name)' class='fa fa-arrow-up fa-5x'></i>
              <i ng-click='downVote(c.name)' class='fa fa-arrow-down fa-5x'></i>
            </div>
          </div>
        </div>
      </li>
    </div>
  </div>
</div>
