.content{
  margin-top: 60px
}

.changeModal{
  cursor: pointer
}
.account .favorite{
  height: 55px;
  font-size: 2em
}
.account .favorite button{
  margin-left: 10px
}
.account .alert{
  margin-bottom: 0;
  margin-top: 20px
}

.nerfem{
  margin-top: 2em;
}
.nerfem .champName{
  margin-top: 30px;
  font-size: 3em;
}
.nerfem .upPercent{
  margin-top: 30px;
  color: #00bc8c;
  font-size: 3em;
}
.nerfem .downPercent{
  margin-top: 30px;
  color: #e74c3c;
  font-size: 3em;
}
.nerfem .arrows{
  margin-top: 30px;
}
.nerfem .fa-arrow-up {
  cursor: pointer;
  color: #00bc8c;
}
.nerfem .fa-arrow-down {
  cursor: pointer;
  color: #e74c3c;
}
.nerfem h1{
  text-align: center;
}
